@model ITI.Resturant.Management.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">An error occurred</h1>
<p>Request ID: @Model.RequestId</p>
<a asp-controller="Home" asp-action="Index">Return Home</a>
